.cancel,
.error {
  color: red;
}

.uploadedAt,
.error,
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyLink {
  margin-right: 1em;
}

.copyLink md-icon {
  color: var(--foreground-color);
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}