.appTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appTitle img {
  width: 6em;
  margin-right: 1em;
}

.appTitle h1 {
  font-family: "Fredoka";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.015625em;
  text-overflow: ellipsis;
  color: var(--primary-color);
}
