name: Build and Release

on:
  push:
    branches:
      - main

jobs:
#  build-app-windows:
#    runs-on: windows-latest
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Install dependencies
#        run: npm install
#
#      - name: Build
#        working-directory: app
#        run: |
#          npm run build:prod
#          npm run make
#
#      - name: List built artifacts
#        working-directory: app
#        run: Get-ChildItem -Path target -Recurse -Include *.exe,*.msi,*.zip
#
#      - name: Upload Artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: windows-artifacts
#          path: |
#            app/target/make/zip/win32/*/*.zip
#            app/target/make/squirrel.windows/*/*.exe

  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - args: '--target aarch64-apple-darwin'
            arch: 'silicon'
          - args: '--target x86_64-apple-darwin'
            arch: 'intel'
    env:
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Import Apple Developer Certificate
        env:
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          echo $APPLE_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security set-keychain-settings -t 3600 -u build.keychain
          security import certificate.p12 -k build.keychain -P "$APPLE_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$KEYCHAIN_PASSWORD" build.keychain
          security find-identity -v -p codesigning build.keychain

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run tauri build -- ${{ matrix.args }}

      - name: List built artifacts
        run: find target -name '*.dmg' -o -name '*.zip'

      - uses: actions/upload-artifact@v4
        name: Upload Artifacts
        with:
          name: macos-artifacts
          path: |
            target/release/bundle/dmg/*.dmg

#  build-app-linux:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Install dependencies
#        working-directory: app
#        run: npm install
#
#      - name: Build
#        working-directory: app
#        run: |
#          npm run build:prod
#          npm run make
#
#      - name: List built artifacts
#        working-directory: app
#        run: find target -name '*.deb' -o -name '*.rpm' -o -name '*.zip'
#
#      - uses: actions/upload-artifact@v4
#        name: Upload Artifacts
#        with:
#          name: linux-artifacts
#          path: |
#            app/target/make/zip/linux/*/*.zip
#            app/target/make/deb/*/*.deb
#            app/target/make/rpm/*/*.rpm

  create-release:
    permissions:
      contents: write
    needs:
      - build-macos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install required packages
        run: sudo apt install -y tree

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-artifacts

      - name: List downloaded artifacts
        run: tree release-artifacts

      - name: Resolve current version
        id: version
        run: |
          export VERSION=$(cat VERSION)
          echo "current=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          name: ${{ steps.version.outputs.current }}
          tag: ${{ steps.version.outputs.current }}
          artifacts: 'release-artifacts/**/*.zip,release-artifacts/**/*.deb,release-artifacts/**/*.rpm,release-artifacts/**/*.exe,release-artifacts/**/*.dmg,release-artifacts/server-artifacts/*'
